Repository FrankVanDerVelde/florijn: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_fe_production, deploy_be_production, deploy_fe_development, deploy_be_development

.gitlab-ci.yml:

stages:
  - deploy

deploy_fe_production:
  stage: deploy
  image: node:latest
  tags:
    - hva
  only:
    refs:
      - main
    changes:
      - "frontend/**/*"
  script:
    - npm install --global vercel
    - vercel pull --yes --environment=preview --token=bah3DNCH0ZwaH5SvlVV44aX7
    - vercel build --token=bah3DNCH0ZwaH5SvlVV44aX7
    - vercel deploy --prebuilt  --token=bah3DNCH0ZwaH5SvlVV44aX7

deploy_be_production:
  stage: deploy
  image: node:latest
  tags:
    - hva
  only:
    refs:
      - main
    changes:
      - "backend/**/*"
  script:
    - apt-get update && apt-get install -y curl
    - curl -fsSL https://railway.app/install.sh | sh
    - export RAILWAY_TOKEN=${RAILWAY_BE_PRODUCTION_TOKEN}
    - cd backend
    - railway up --service=backend -d




deploy_fe_development:
  stage: deploy
  image: node:latest
  tags:
    - hva
  only:
    refs:
      - development
    changes:
      - "frontend/**/*"
  script:
    - npm install --global vercel
    - vercel pull --yes --environment=production --token=bah3DNCH0ZwaH5SvlVV44aX7
    - vercel build --prod --token=bah3DNCH0ZwaH5SvlVV44aX7
    - vercel deploy --prebuilt --prod --token=bah3DNCH0ZwaH5SvlVV44aX7

deploy_be_development:
  stage: deploy
  image: node:latest
  tags:
    - hva
  only:
    refs:
      - development
    changes:
      - "backend/**/*"
  script:
    - apt-get update && apt-get install -y curl
    - curl -fsSL https://railway.app/install.sh | sh
    - export RAILWAY_TOKEN=${RAILWAY_BE_DEVELOPMENT_TOKEN}
    - cd backend
    - railway up --service=backend -d

Update CI file
  .gitlab-ci.yml
Due: none

Change CI File
  .gitlab-ci.yml
Due: none

removed prod flags
  .gitlab-ci.yml
Due: none

change CI file
  .gitlab-ci.yml
Due: none

Changed location of delete icon
  frontend/src/assets/css/input.css
  frontend/src/components/Scenes/SpecialistAvailibility/SpecialistAvailibilityOverview.vue
  frontend/src/components/Scenes/SpecialistAvailibility/elements/NewAvailabilityPopup.vue
Due: deploy_fe_production, deploy_fe_development

deleted home screen navigations for all users (these are still available for later use as dashboard). Fixed navbar items per user & redirects
  frontend/src/components/Common/NavBar.vue
  frontend/src/components/Scenes/Authentication/LogIn.vue
  frontend/src/components/Scenes/Profile/PersonalInfo.vue
  frontend/src/components/Scenes/Profile/Profile.vue
  frontend/src/components/Scenes/Project/Scenes/CreateProject.vue
  frontend/src/components/Scenes/Project/Scenes/ProjectList.vue
  frontend/src/router/index.js
Due: deploy_fe_production, deploy_fe_development

Made a big start with uploading profile pictures
  backend/src/main/java/com/hva/ewa/team2/backend/BackendApplication.java
  backend/src/main/java/com/hva/ewa/team2/backend/data/skill/SkillRepository.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/skill/Skill.java
Due: deploy_be_production, deploy_be_development

frontend deployment for development going to Vercel
  .gitlab-ci.yml
Due: none

Using env. variables
  .gitlab-ci.yml
Due: none

deleted bs on title in login.vue
  frontend/src/components/Scenes/Authentication/LogIn.vue
Due: deploy_fe_production, deploy_fe_development

Added HourRegistrations to database, fixed logos
  backend/assets/defaults/default-banner.webp
  backend/assets/users/avatars/1.avif
  backend/assets/users/avatars/2.avif
  backend/assets/users/avatars/3.avif
  backend/assets/users/avatars/5.webp
  backend/assets/users/avatars/8.png
  backend/assets/users/banners/5.jpg
  backend/assets/users/banners/8.jpg
  backend/src/main/java/com/hva/ewa/team2/backend/BackendApplication.java
  backend/src/main/java/com/hva/ewa/team2/backend/data/hourregistration/HourRegistrationRepository.java
  backend/src/main/java/com/hva/ewa/team2/backend/data/hourregistration/InMemoryHourRegistrationRepository.java
  backend/src/main/java/com/hva/ewa/team2/backend/data/hourregistration/MemoryHourRegistrationRepository.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/hourregistration/HourRegistration.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/project/Project.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/auth/AuthInteractor.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/hourregistration/HourRegistrationInteractor.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/project/ProjectInteractor.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/skill/SkillInteractor.java
  backend/src/test/java/com/hva/ewa/team2/backend/data/hourregistration/HourRegistrationRepositoryTests.java
  frontend/src/components/Common/ProfilePopup.vue
  frontend/src/components/Scenes/Authentication/LogIn.vue
  frontend/src/components/Scenes/Project/AvatarStack.vue
  frontend/src/components/Scenes/Project/Participant.vue
  frontend/src/components/Scenes/Project/ProjectBanner.vue
Due: deploy_fe_production, deploy_be_production, deploy_fe_development, deploy_be_development

Fixed user hour regs.
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/hourregistration/HourRegistrationInteractor.java
  frontend/src/components/Scenes/SpecialistHourRegistration/elements/NewActivityPopup.vue
Due: deploy_fe_production, deploy_be_production, deploy_fe_development, deploy_be_development

changed web history
  frontend/src/router/index.js
Due: deploy_fe_production, deploy_fe_development

backend images changed
  backend/backend/assets/defaults/default-avatar.png
  backend/backend/assets/defaults/default-banner.webp
  backend/backend/assets/projects/logo-1.png
  backend/backend/assets/projects/sample-logo.png
  backend/backend/assets/users/avatars/1.avif
  backend/backend/assets/users/avatars/2.avif
  backend/backend/assets/users/avatars/3.avif
  backend/backend/assets/users/avatars/5.webp
  backend/backend/assets/users/avatars/6.png
  backend/backend/assets/users/avatars/8.png
  backend/backend/assets/users/banners/5.jpg
  backend/backend/assets/users/banners/8.jpg
Due: deploy_be_production, deploy_be_development

Created NetworkClient and using it in AvailabilityRepository
  frontend/src/Networking/Availibility/AvailabilityRepository.js
  frontend/src/Networking/HttpMethod.js
  frontend/src/Networking/HttpMethods.js
  frontend/src/Networking/NetworkClient.js
Due: deploy_fe_production, deploy_fe_development

Added database functionality to Availability
  backend/src/main/java/com/hva/ewa/team2/backend/BackendApplication.java
  backend/src/main/java/com/hva/ewa/team2/backend/data/Availability/AvailabilityRepository.java
  backend/src/main/java/com/hva/ewa/team2/backend/data/Availability/InMemoryAvailabilityRepository.java
  backend/src/main/java/com/hva/ewa/team2/backend/data/Availability/MemoryAvailabilityRepository.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/availability/Availability.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/availability/AvailabilityBusinessLogic.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/availability/AvailabilityIteractor.java
  backend/src/main/java/com/hva/ewa/team2/backend/rest/availability/AvailabilityController.java
  frontend/src/App.vue
  frontend/src/components/Scenes/SpecialistAvailibility/SpecialistAvailibilityOverview.vue
  frontend/src/components/Scenes/SpecialistAvailibility/elements/NewAvailabilityPopup.vue
Due: deploy_fe_production, deploy_be_production, deploy_fe_development, deploy_be_development

Finished work on the seeder for expertises and skills
  backend/src/main/java/com/hva/ewa/team2/backend/BackendApplication.java
  backend/src/main/java/com/hva/ewa/team2/backend/data/skill/ExpertiseRepository.java
  backend/src/main/java/com/hva/ewa/team2/backend/data/skill/SkillGroupRepository.java
  backend/src/main/java/com/hva/ewa/team2/backend/data/skill/SkillRepository.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/skill/Skill.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/skill/SkillGroup.java
Due: deploy_be_production, deploy_be_development

logout makes the 'user' in localstorage get deleted
  frontend/src/components/Common/ProfilePopup.vue
  frontend/src/components/Scenes/Adminpanel/Adminpanel.vue
  frontend/src/components/Scenes/Authentication/LogIn.vue
  frontend/src/components/Scenes/Profile/PersonalInfo.vue
  frontend/src/components/Scenes/Profile/Profile.vue
  frontend/src/components/Scenes/Project/Scenes/CreateProject.vue
  frontend/src/components/Scenes/Project/Scenes/ProjectList.vue
Due: deploy_fe_production, deploy_fe_development

Users now have random skills and expertises
  backend/src/main/java/com/hva/ewa/team2/backend/BackendApplication.java
  backend/src/main/java/com/hva/ewa/team2/backend/data/skill/SkillRepository.java
  backend/src/main/java/com/hva/ewa/team2/backend/data/user/UserRepository.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/user/Specialist.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/user/User.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/user/UserBusinessLogic.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/user/UserInteractor.java
  backend/src/main/java/com/hva/ewa/team2/backend/rest/user/UserController.java
  backend/src/main/resources/application.properties
Due: deploy_be_production, deploy_be_development

made setup for jwt authentication
  backend/src/main/java/com/hva/ewa/team2/backend/Config.java
  backend/src/main/java/com/hva/ewa/team2/backend/rest/auth/AuthController.java
  frontend/config.js
  frontend/src/App.vue
  frontend/src/Networking/Authentication/AuthenticationRepository.js
  frontend/src/Networking/Authentication/StoredTokenRepository.js
  frontend/src/Services/user-adaptor.js
  frontend/src/components/Scenes/Authentication/LogIn.vue
Due: deploy_fe_production, deploy_be_production, deploy_fe_development, deploy_be_development

Fixed a bug in NetworkClient and added more JS Doc
  frontend/src/Networking/Authentication/AuthenticationRepository.js
  frontend/src/Networking/NetworkClient.js
Due: deploy_fe_production, deploy_fe_development

Fixed project reports being incorrect.
  backend/assets/defaults/default-avatar.png
  backend/assets/defaults/default-banner.webp
  backend/assets/projects/5.png
  backend/assets/projects/logo-1.png
  backend/assets/projects/sample-logo.png
  backend/assets/users/avatars/1.avif
  backend/assets/users/avatars/2.avif
  backend/assets/users/avatars/3.avif
  backend/assets/users/avatars/3.png
  backend/assets/users/avatars/5.png
  backend/assets/users/avatars/5.webp
  backend/assets/users/avatars/6.png
  backend/assets/users/avatars/8.png
  backend/assets/users/banners/5.jpg
  backend/assets/users/banners/8.jpg
  backend/src/main/java/com/hva/ewa/team2/backend/BackendApplication.java
  backend/src/main/java/com/hva/ewa/team2/backend/common/services/asset/AssetService.java
  backend/src/main/java/com/hva/ewa/team2/backend/data/hourregistration/HourRegistrationRepository.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/skill/Expertise.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/skill/Skill.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/skill/SkillGroup.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/skill/UserSkill.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/user/Specialist.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/user/User.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/project/ProjectBusinessLogic.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/project/ProjectInteractor.java
  backend/src/main/java/com/hva/ewa/team2/backend/rest/project/ProjectController.java
  backend/src/main/resources/application.properties
  frontend/src/components/Scenes/Project/Scenes/ProjectLayout.vue
  frontend/src/components/Scenes/Project/Scenes/ProjectOverview.vue
Due: deploy_fe_production, deploy_be_production, deploy_fe_development, deploy_be_development

Fixed admin permissions for projects.
  frontend/src/components/Scenes/Project/Scenes/CreateProject.vue
Due: deploy_fe_production, deploy_fe_development

Fixed skill and expertise update. Together with Lukas
  backend/src/main/java/com/hva/ewa/team2/backend/data/skill/SkillRepository.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/skill/SkillBusinessLogic.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/skill/SkillInteractor.java
  backend/src/main/java/com/hva/ewa/team2/backend/rest/skill/SkillController.java
  backend/src/main/java/com/hva/ewa/team2/backend/rest/skill/json/JsonUserSkill.java
  backend/src/main/java/com/hva/ewa/team2/backend/rest/skill/json/JsonUserSkillGroup.java
  backend/src/main/java/com/hva/ewa/team2/backend/security/JWTRequestFilter.java
  backend/src/main/resources/application.properties
Due: deploy_be_production, deploy_be_development

Fixed skill and expertise update. Together with Lukas
  frontend/src/components/Scenes/Profile/Expertise.vue
  frontend/src/components/Scenes/Profile/SkillsGroup.vue
  frontend/src/components/Scenes/Profile/SkillsOverview.vue
Due: deploy_fe_production, deploy_fe_development

Made authentication repository work and set token and user in storedTOkenRepository which other components now can use in their component.
  backend/src/main/java/com/hva/ewa/team2/backend/Config.java
  frontend/src/App.vue
  frontend/src/Networking/Authentication/AuthenticationRepository.js
  frontend/src/Networking/Authentication/StoredTokenRepository.js
  frontend/src/Networking/NetworkClient.js
  frontend/src/components/Common/ProfilePopup.vue
  frontend/src/components/Scenes/Authentication/LogIn.vue
Due: deploy_fe_production, deploy_be_production, deploy_fe_development, deploy_be_development

forgot to delete test line
  frontend/src/components/Scenes/Authentication/LogIn.vue
Due: deploy_fe_production, deploy_fe_development

Updated AvailabilityRepository for backend changes
  frontend/src/Networking/Availibility/AvailabilityRepository.js
Due: deploy_fe_production, deploy_fe_development

Fixed resume
  backend/backend/assets/users/resumes/4.pdf
  backend/src/main/java/com/hva/ewa/team2/backend/BackendApplication.java
  backend/src/main/java/com/hva/ewa/team2/backend/common/services/asset/AssetService.java
  backend/src/main/java/com/hva/ewa/team2/backend/data/user/InMemoryUserRepository.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/user/Specialist.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/user/UserBusinessLogic.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/user/UserInteractor.java
  backend/src/main/java/com/hva/ewa/team2/backend/rest/asset/AssetController.java
  backend/src/main/java/com/hva/ewa/team2/backend/rest/user/UserController.java
  backend/src/main/java/com/hva/ewa/team2/backend/rest/user/json/JsonUserData.java
  frontend/package.json
  frontend/src/components/Scenes/Profile/Profile.vue
  frontend/src/components/Scenes/Profile/Resume.vue
  frontend/src/components/Scenes/Profile/SkillsOverview.vue
  frontend/src/main.js
Due: deploy_fe_production, deploy_be_production, deploy_fe_development, deploy_be_development

Added base home
  frontend/src/components/Scenes/Home/BaseHome.vue
Due: deploy_fe_production, deploy_fe_development

Made backend changes compatible with frontend
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/availability/AvailabilityIteractor.java
  backend/src/main/java/com/hva/ewa/team2/backend/rest/availability/AvailabilityController.java
  frontend/src/App.vue
  frontend/src/Networking/Availibility/AvailabilityRepository.js
  frontend/src/Services/DateService.js
  frontend/src/components/Scenes/SpecialistAvailibility/SpecialistAvailibilityOverview.vue
  frontend/src/components/Scenes/SpecialistAvailibility/elements/NewAvailabilityPopup.vue
Due: deploy_fe_production, deploy_be_production, deploy_fe_development, deploy_be_development

Updated HourRegistrationRepository to use NetworkClient
  frontend/src/Networking/HourRegistration/HourRegistrationRepository.js
Due: deploy_fe_production, deploy_fe_development

Fixed resume styling and fixed firefbox bug
  frontend/src/components/Scenes/Profile/Resume.vue
Due: deploy_fe_production, deploy_fe_development

Kind of forgot what I did here...
  backend/pom.xml
  backend/src/main/java/com/hva/ewa/team2/backend/BackendApplication.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/project/ProjectBusinessLogic.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/project/ProjectInteractor.java
  backend/src/main/java/com/hva/ewa/team2/backend/rest/project/ProjectController.java
  frontend/src/App.vue
  frontend/src/Networking/Availibility/AvailabilityRepository.js
  frontend/src/Networking/Project/ProjectRepository.js
  frontend/src/components/Scenes/Authentication/LogIn.vue
  frontend/src/components/Scenes/Home/BaseHome.vue
  frontend/src/components/Scenes/Profile/PublicProfile.vue
  frontend/src/router/index.js
Due: deploy_fe_production, deploy_be_production, deploy_fe_development, deploy_be_development

Done some code cleaning and UI improvements
  frontend/src/components/Scenes/Adminpanel/AddClient.vue
Due: deploy_fe_production, deploy_fe_development

Added UserRepository for creating a Client
  frontend/src/Networking/UserRepository.js
Due: deploy_fe_production, deploy_fe_development

Added home dashboards for admins and specialists. Improved endpoints for projects, users, and hour registrations.
  backend/src/main/java/com/hva/ewa/team2/backend/data/hourregistration/HourRegistrationRepository.java
  backend/src/main/java/com/hva/ewa/team2/backend/data/project/ProjectRepository.java
  backend/src/main/java/com/hva/ewa/team2/backend/data/user/UserRepository.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/project/ProjectBusinessLogic.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/project/ProjectInteractor.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/user/UserBusinessLogic.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/user/UserInteractor.java
  backend/src/main/java/com/hva/ewa/team2/backend/rest/project/ProjectController.java
  backend/src/main/java/com/hva/ewa/team2/backend/rest/user/UserController.java
  frontend/src/Networking/Project/ProjectRepository.js
  frontend/src/Services/DateService.js
  frontend/src/assets/css/input.css
  frontend/src/components/Scenes/Home/BaseHome.vue
  frontend/src/components/Scenes/Home/HomeBox.vue
  frontend/src/components/Scenes/Home/QuickAction.vue
  frontend/src/components/Scenes/Home/SummaryBox.vue
  frontend/src/components/Scenes/Home/layouts/AdminHomeLayout.vue
  frontend/src/components/Scenes/Home/layouts/SpecialistHomeLayout.vue
  frontend/src/components/Scenes/Project/Scenes/ProjectList.vue
  frontend/src/main.js
  frontend/src/router/index.js
Due: deploy_fe_production, deploy_be_production, deploy_fe_development, deploy_be_development

UserRepository is now used for fetcheing Clients
  frontend/src/App.vue
  frontend/src/Networking/UserRepository.js
  frontend/src/components/Scenes/Adminpanel/AddClient.vue
  frontend/src/components/Scenes/Adminpanel/CustomerList.vue
  frontend/src/components/Scenes/Adminpanel/EmployeeListDetails.vue
  frontend/src/components/models/UserRole.js
Due: deploy_fe_production, deploy_fe_development

Added hour registrations to specialist home.
  backend/src/main/java/com/hva/ewa/team2/backend/data/hourregistration/HourRegistrationRepository.java
  frontend/src/Networking/HourRegistration/HourRegistrationRepository.js
  frontend/src/components/Common/SmallTableCard.vue
  frontend/src/components/Scenes/Home/layouts/SpecialistHomeLayout.vue
  frontend/src/components/Scenes/Project/HoursRow.vue
  frontend/src/components/Scenes/Project/Participant.vue
  frontend/src/components/Scenes/Project/Scenes/ProjectOverview.vue
  frontend/src/components/models/HourRegistration.js
  frontend/src/main.js
Due: deploy_fe_production, deploy_be_production, deploy_fe_development, deploy_be_development

Added backend filter functionality
  backend/src/main/java/com/hva/ewa/team2/backend/BackendApplication.java
  backend/src/main/java/com/hva/ewa/team2/backend/data/user/UserRepository.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/project/ProjectInteractor.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/user/UserBusinessLogic.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/user/UserInteractor.java
  backend/src/main/java/com/hva/ewa/team2/backend/rest/user/UserController.java
  backend/src/main/java/com/hva/ewa/team2/backend/rest/user/json/JsonSkills.java
  frontend/src/App.vue
  frontend/src/components/Scenes/AddParticipants/AddParticipants.vue
  frontend/src/components/Scenes/AddParticipants/ParticipantCard.vue
Due: deploy_fe_production, deploy_be_production, deploy_fe_development, deploy_be_development
