Repository FrankVanDerVelde/florijn: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_fe_production, deploy_be_production, deploy_be_development

deploy_fe_production:
  stage: deploy
  image: node:latest
  tags:
  - hva
  script:
  - npm install --global vercel
  - vercel pull --yes --environment=preview --token=bah3DNCH0ZwaH5SvlVV44aX7
  - vercel build --token=bah3DNCH0ZwaH5SvlVV44aX7
  - vercel deploy --prebuilt  --token=bah3DNCH0ZwaH5SvlVV44aX7

deploy_be_production:
  stage: deploy
  image: node:latest
  tags:
  - hva
  script:
  - apt-get update && apt-get install -y curl
  - curl -fsSL https://railway.app/install.sh | sh
  - export RAILWAY_TOKEN=${RAILWAY_BE_PRODUCTION_TOKEN}
  - cd backend
  - railway up --service=backend -d

deploy_be_development:
  stage: deploy
  image: node:latest
  tags:
  - hva
  script:
  - apt-get update && apt-get install -y curl
  - curl -fsSL https://railway.app/install.sh | sh
  - export RAILWAY_TOKEN=${RAILWAY_BE_DEVELOPMENT_TOKEN}
  - cd backend
  - railway up --service=backend -d

Bug fixes login, public profile page fully working
  frontend/src/components/Scenes/Authentication/LogIn.vue
  frontend/src/components/Scenes/Profile/PublicProfile.vue
  frontend/src/components/Scenes/Project/Participant.vue
  frontend/src/components/Scenes/Project/SkillListSummary.vue
Due: deploy_fe_production

Hotifx/project home fixes
  backend/src/main/java/com/hva/ewa/team2/backend/rest/project/ProjectController.java
  frontend/src/App.vue
  frontend/src/Networking/HourRegistration/HourRegistrationRepository.js
  frontend/src/Networking/UserRepository.js
  frontend/src/Services/StringService.js
  frontend/src/components/Scenes/Home/BaseHome.vue
  frontend/src/components/Scenes/Home/HomeProjectListBox.vue
  frontend/src/components/Scenes/Home/layouts/AdminHomeLayout.vue
  frontend/src/components/Scenes/Home/layouts/HomeLayout.vue
  frontend/src/components/Scenes/Project/HoursInfoPopup.vue
  frontend/src/components/Scenes/Project/Scenes/CreateProject.vue
  frontend/src/components/Scenes/Project/Scenes/ProjectOverview.vue
Due: deploy_fe_production, deploy_be_production, deploy_be_development

Created a profile pop up, and fixed the css for a project button
  backend/backend/assets/users/resumes/7.pdf
  frontend/src/components/Scenes/Profile/PersonalInfo.vue
  frontend/src/components/Scenes/Profile/Resume.vue
  frontend/src/components/Scenes/Project/ProjectParticipantList.vue
  frontend/src/components/Scenes/Project/Scenes/CreateProject.vue
  frontend/src/router/index.js
Due: deploy_fe_production, deploy_be_production, deploy_be_development

Hotifx/project home fixes
  frontend/src/components/Scenes/Project/Scenes/ProjectList.vue
Due: deploy_fe_production

Merge AddParticipants into development
  frontend/src/components/Scenes/AddParticipants/AddParticipantModal.vue
  frontend/src/components/Scenes/AddParticipants/AddParticipants.vue
  frontend/src/components/Scenes/AddParticipants/ParticipantCard.vue
Due: deploy_fe_production

Added time validation
  frontend/src/components/Scenes/SpecialistHourRegistration/elements/NewActivityPopup.vue
Due: deploy_fe_production

Update README.md
  frontend/README.md
Due: deploy_fe_production

Fixes for adding a client
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/user/UserInteractor.java
  backend/src/main/java/com/hva/ewa/team2/backend/rest/asset/AssetController.java
  frontend/src/Networking/NetworkClient.js
  frontend/src/Networking/UserRepository.js
Due: deploy_fe_production, deploy_be_production, deploy_be_development

Udpated README
  README.md
  clean_architecture_for_readme.png
Due: none

Fix/database seeding
  README.md
  backend/assets/projects/logo-1.webp
  backend/assets/projects/logo-4.png
  backend/backend/assets/projects/logo-1.png
  backend/src/main/java/com/hva/ewa/team2/backend/BackendApplication.java
  backend/src/main/resources/application.properties
Due: deploy_be_production, deploy_be_development

Fixed project file uploads.
  backend/assets/projects/974dafd7-5324-4f65-8ceb-36e1b0f2587e.png
  backend/assets/projects/9a160d9b-0817-4d87-b6e6-441fcd8e8329.webp
  backend/assets/projects/logo-1.png
  backend/src/main/java/com/hva/ewa/team2/backend/BackendApplication.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/project/ProjectBusinessLogic.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/project/ProjectInteractor.java
  frontend/src/components/Scenes/Project/Scenes/CreateProject.vue
Due: deploy_fe_production, deploy_be_production, deploy_be_development

Created a start for unit testing
  frontend/babel.config.js
  frontend/jest-media-transformer.js
  frontend/jest.config_UNUSED.js
  frontend/package.json
  frontend/tests/mockRepos/MockUserRepository.js
  frontend/tests/unit/example.spec.js
Due: deploy_fe_production

Update
  frontend/src/components/models/Participant.js
  frontend/tests/mockRepos/InMemoryEntitiesService.js
  frontend/tests/mockRepos/InMemoryUserRepo.js
  frontend/tests/mockRepos/MockUserRepository.js
  frontend/tests/unit/example.spec.js
Due: deploy_fe_production

added hash function (only the initial data didnt change in the database), attempt on making FE tests but Jest isn't working
  backend/src/main/java/com/hva/ewa/team2/backend/BackendApplication.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/user/UserBusinessLogic.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/user/UserInteractor.java
  backend/src/main/java/com/hva/ewa/team2/backend/rest/user/UserController.java
  frontend/babel.config.js
  frontend/package.json
  frontend/src/Networking/Authentication/AuthenticationRepository.spec.js
  frontend/src/components/Scenes/Adminpanel/AddClient.vue
  frontend/src/components/Scenes/Adminpanel/AddSpecialist.vue
  frontend/src/components/Scenes/Authentication/LogIn.vue
  frontend/src/components/Scenes/Authentication/Login.spec.js
  frontend/src/components/Scenes/Profile/PublicProfile.spec.js
  frontend/src/components/Scenes/Profile/PublicProfile.vue
Due: deploy_fe_production, deploy_be_production, deploy_be_development

test progress
  frontend/package.json
  frontend/src/Networking/MockNetworkClient.js
  frontend/src/Networking/NetworkClient - Copy.js
  frontend/tests/unit/profileEdit.spec.js
  frontend/tests/unit/resumeUpload.specX.js
  frontend/tests/unit/skillsEdit.specX.js
Due: deploy_fe_production

More progress
  frontend/package.json
  frontend/tests/unit/__snapshots__/profile.spec.js.snap
  frontend/tests/unit/profile.spec.js
  frontend/tests/unit/skillEdit.spec.js
  frontend/tests/unit/skillsEdit.specX.js
Due: deploy_fe_production

Added projectAddTest.spec.js, and user models.
  frontend/.eslintrc.cjs
  frontend/src/components/Scenes/AddParticipants/AddParticipants.vue
  frontend/src/components/Scenes/Project/HoursInfoPopup.vue
  frontend/src/components/Scenes/Project/HoursRow.vue
  frontend/src/components/Scenes/Project/ProjectHeader.vue
  frontend/src/components/Scenes/Project/Scenes/CreateProject.vue
  frontend/src/components/Scenes/Project/Scenes/ProjectOverview.vue
  frontend/src/components/models/Participant.js
  frontend/src/components/models/Project.js
  frontend/src/components/models/user/Admin.js
  frontend/src/components/models/user/Client.js
  frontend/src/components/models/user/Specialist.js
  frontend/src/components/models/user/User.js
  frontend/tests/mockRepos/InMemoryEntitiesService.js
  frontend/tests/mockRepos/InMemoryHourRegistrationRepo.js
  frontend/tests/mockRepos/InMemoryProjectRepo.js
  frontend/tests/mockRepos/InMemoryUserRepo.js
  frontend/tests/unit/lukas/hourRegistrationReview.spec.js
  frontend/tests/unit/lukas/projectAddTest.spec.js
  frontend/tests/unit/profileEdit.spec.js
Due: deploy_fe_production

Added project transfer permission checker.
  frontend/src/components/Scenes/Project/Modals/ArchiveProjectModal.vue
  frontend/src/components/Scenes/Project/Modals/TransferOwnershipModal.vue
  frontend/src/components/Scenes/Project/Scenes/CreateProject.vue
  frontend/src/components/models/Project.js
  frontend/tests/mockRepos/InMemoryProjectRepo.js
  frontend/tests/unit/lukas/projectTransferTest.spec.js
Due: deploy_fe_production

ADded endpoints
  backend/pom.xml
  backend/src/main/java/com/hva/ewa/team2/backend/Config.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/availability/AvailabilityIteractor.java
  backend/src/test/java/com/hva/ewa/team2/backend/BackendApplicationTests.java
  backend/src/test/java/com/hva/ewa/team2/backend/repositories/AvailabilityRepositoryTest.java
  backend/src/test/java/com/hva/ewa/team2/backend/rest/AvailabilityRestTest.java
  frontend/.eslintrc.cjs
  frontend/src/components/Scenes/AddParticipants/AddParticipants.vue
  frontend/src/components/models/Project.js
  frontend/tests/unit/addParticipants.spec.js
  frontend/tests/unit/profileEdit.specX.js
Due: deploy_fe_production, deploy_be_production, deploy_be_development

Added update endpoints
  backend/src/test/java/com/hva/ewa/team2/backend/rest/AvailabilityRestTest.java
Due: deploy_be_production, deploy_be_development

Added model
  backend/src/test/java/com/hva/ewa/team2/backend/models/AvailabilityTest.java
Due: deploy_be_production, deploy_be_development

added a few backend tests
  backend/pom.xml
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/user/User.java
  backend/src/main/java/com/hva/ewa/team2/backend/rest/user/UserController.java
  backend/src/test/java/com/hva/ewa/team2/backend/BackendApplicationTest.java
  backend/src/test/java/com/hva/ewa/team2/backend/BackendApplicationTests.java
  backend/src/test/java/com/hva/ewa/team2/backend/repositories/UserRepositoryTest.java
  backend/src/test/java/com/hva/ewa/team2/backend/rest/AuthenticationControllerTest.java
  backend/src/test/java/com/hva/ewa/team2/backend/rest/UserControllerTest.java
Due: deploy_be_production, deploy_be_development

finished project transfer test.
  frontend/jest.config_UNUSED.js
  frontend/package.json
  frontend/src/components/Common/Modal.vue
  frontend/src/components/Common/PrimaryButton.vue
  frontend/src/components/Scenes/Project/ClientSelect.vue
  frontend/src/components/Scenes/Project/Modals/TransferOwnershipModal.vue
  frontend/src/components/Scenes/Project/ProjectConfirmationInput.vue
  frontend/src/components/Scenes/Project/Scenes/CreateProject.vue
  frontend/tests/mockRepos/InMemoryProjectRepo.js
  frontend/tests/unit/lukas/projectTransferTest.spec.js
Due: deploy_fe_production

Added model
  backend/pom.xml
  backend/src/main/java/com/hva/ewa/team2/backend/Config.java
  backend/src/main/java/com/hva/ewa/team2/backend/data/Availability/AvailabilityRepository.java
  backend/src/test/java/com/hva/ewa/team2/backend/repositories/AvailabilityRepositoryTest.java
  frontend/src/components/Scenes/AddParticipants/AddParticipants.vue
  frontend/src/components/models/Project.js
  frontend/tests/mockRepos/InMemoryProjectRepo.js
  frontend/tests/mockRepos/InMemorySkillsRepo.js
  frontend/tests/unit/addParticipants.spec.js
  frontend/tests/unit/lukas/hourRegistrationReview.specX.js
  frontend/tests/unit/lukas/projectAddTest.specX.js
  frontend/tests/unit/lukas/projectTransferTest.specX.js
Due: deploy_fe_production, deploy_be_production, deploy_be_development

made backend tests pass
  backend/src/test/java/com/hva/ewa/team2/backend/repositories/UserRepositoryTest.java
  backend/src/test/java/com/hva/ewa/team2/backend/rest/UserControllerTest.java
  frontend/package.json
  frontend/src/components/Scenes/Authentication/LogIn.vue
  frontend/tests/unit/thomas/AuthenticationRepository.spec.js
  frontend/tests/unit/thomas/Login.spec.js
  frontend/tests/unit/thomas/PublicProfile.spec.js
Due: deploy_fe_production, deploy_be_production, deploy_be_development

finished project archive test.
  frontend/src/components/Scenes/Project/Modals/ArchiveProjectModal.vue
  frontend/src/components/Scenes/Project/ProjectHeader.vue
  frontend/src/components/models/Project.js
  frontend/tests/mockRepos/InMemoryProjectRepo.js
  frontend/tests/unit/lukas/projectArchiveTest.spec.js
  frontend/tests/unit/lukas/projectTransferTest.spec.js
  package.json
Due: deploy_fe_production

Added model
  backend/src/test/java/com/hva/ewa/team2/backend/rest/AvailabilityRestTest.java
  frontend/src/components/Scenes/AddParticipants/AddParticipants.vue
  frontend/src/components/models/Project.js
  frontend/tests/unit/addParticipants.spec.js
Due: deploy_fe_production, deploy_be_production, deploy_be_development

3 fe tests succeed
  frontend/package.json
  frontend/src/components/Scenes/Adminpanel/AddClient.vue
  frontend/src/components/Scenes/Adminpanel/AddSpecialist.vue
  frontend/src/components/Scenes/Authentication/LogIn.vue
  frontend/tests/mockRepos/InMemoryAuthenticationRepository.js
  frontend/tests/unit/thomas/Login.spec.js
Due: deploy_fe_production

Did expansive tests for expertise
  frontend/src/components/Scenes/Profile/Expertise.vue
  frontend/src/components/models/Expertise.js
  frontend/tests/unit/expertise.spec.js
  frontend/tests/unit/profileEdit.spec.js
  frontend/tests/unit/skillEdit.spec.js
Due: deploy_fe_production

Finished frontend tests.
  frontend/src/components/Scenes/Project/HourRegistryStatus.vue
  frontend/src/components/Scenes/Project/HoursInfoPopup.vue
  frontend/src/components/Scenes/Project/HoursRow.vue
  frontend/src/components/models/Project.js
  frontend/tests/mockRepos/InMemoryHourRegistrationRepo.js
  frontend/tests/unit/lukas/hourRegistrationReview.spec.js
  frontend/tests/unit/profileEdit.spec.js
  frontend/tests/unit/resumeUpload.specX.js
  frontend/tests/unit/skillsEdit.specX.js
Due: deploy_fe_production

fixed hour row status frontend
  frontend/src/components/Scenes/Project/HoursRow.vue
Due: deploy_fe_production

Created test
  backend/pom.xml
  backend/src/main/java/com/hva/ewa/team2/backend/Config.java
  backend/src/test/java/com/hva/ewa/team2/backend/models/SkillsTest.java
  backend/src/test/java/com/hva/ewa/team2/backend/repos/SkillRepositoryTest.java
  backend/src/test/java/com/hva/ewa/team2/backend/rest/SkillsRestTest.java
Due: deploy_be_production, deploy_be_development

made fe tests
  frontend/src/components/Scenes/Profile/PublicProfile.vue
  frontend/tests/mockRepos/InMemoryAssetService.js
  frontend/tests/mockRepos/InMemoryAvailabilityRepo.js
  frontend/tests/mockRepos/InMemoryProjectRepo.js
  frontend/tests/mockRepos/InMemorySkillsRepo.js
  frontend/tests/mockRepos/InMemoryUserRepo.js
  frontend/tests/unit/thomas/AuthenticationRepository.spec.js
  frontend/tests/unit/thomas/PublicProfile.spec.js
  frontend/tests/unit/thomas/UserRepositoryTest.spec.js
Due: deploy_fe_production

added final tests
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/user/Specialist.java
  backend/src/main/resources/application.properties
  backend/src/test/java/com/hva/ewa/team2/backend/BackendApplicationTests.java
  backend/src/test/java/com/hva/ewa/team2/backend/repositories/AvailabilityRepositoryTest.java
  backend/src/test/java/com/hva/ewa/team2/backend/rest/AvailabilityRestTest.java
  frontend/src/Services/DateService.js
  frontend/tests/unit/addParticipants.spec.js
  frontend/tests/unit/lukas/projectArchiveTest.specX.js
Due: deploy_fe_production, deploy_be_production, deploy_be_development

Finished backend tests.
  backend/assets/projects/422dd15a-efbd-41fb-8794-bdebd6865adf.png
  backend/assets/users/avatars/6f462c05-3a15-4f94-af5c-17696caba8d3.png
  backend/pom.xml
  backend/src/main/java/com/hva/ewa/team2/backend/BackendApplication.java
  backend/src/main/java/com/hva/ewa/team2/backend/common/services/date/DateService.java
  backend/src/main/java/com/hva/ewa/team2/backend/common/services/date/DateServiceLogic.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/project/Project.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/project/ProjectInteractor.java
  backend/src/main/java/com/hva/ewa/team2/backend/security/JWTRequestFilter.java
  backend/src/main/resources/application.properties
  backend/src/test/java/com/hva/ewa/team2/backend/BackendApplicationTests.java
  backend/src/test/java/com/hva/ewa/team2/backend/BackendProjectsTest.java
  backend/src/test/java/com/hva/ewa/team2/backend/data/hourregistration/HourRegistrationRepositoryTests.java
  backend/src/test/java/com/hva/ewa/team2/backend/lukas/BackendApplicationTests.java
  backend/src/test/java/com/hva/ewa/team2/backend/lukas/model/ProjectModelTest.java
  backend/src/test/java/com/hva/ewa/team2/backend/lukas/repository/ProjectRepositoryTest.java
  backend/src/test/java/com/hva/ewa/team2/backend/lukas/rest/ProjectRestTest.java
  frontend/tests/unit/lukas/hourRegistrationReview.spec.js
Due: deploy_fe_production, deploy_be_production, deploy_be_development

added comments to participant pages
  frontend/src/components/Scenes/AddParticipants/AddParticipants.vue
  frontend/src/components/Scenes/AddParticipants/ParticipantCard.vue
Due: deploy_fe_production

more tests
  backend/src/test/java/com/hva/ewa/team2/backend/models/SkillsTest.java
  backend/src/test/java/com/hva/ewa/team2/backend/repos/SkillRepositoryTest.java
Due: deploy_be_production, deploy_be_development

Create README.md
  README.md
Due: none

Update README.md
  README.md
Due: none

Path conditions:
  deploy_fe_production: any of: frontend/**/*
  deploy_be_production: any of: backend/**/*
  deploy_be_development: any of: backend/**/*
