Repository FrankVanDerVelde/florijn: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_fe_production, deploy_be_production, deploy_be_development

deploy_fe_production:
  stage: deploy
  image: node:latest
  tags:
  - hva
  script:
  - npm install --global vercel
  - vercel pull --yes --environment=preview --token=bah3DNCH0ZwaH5SvlVV44aX7
  - vercel build --token=bah3DNCH0ZwaH5SvlVV44aX7
  - vercel deploy --prebuilt  --token=bah3DNCH0ZwaH5SvlVV44aX7

deploy_be_production:
  stage: deploy
  image: node:latest
  tags:
  - hva
  script:
  - apt-get update && apt-get install -y curl
  - curl -fsSL https://railway.app/install.sh | sh
  - export RAILWAY_TOKEN=${RAILWAY_BE_PRODUCTION_TOKEN}
  - cd backend
  - railway up --service=backend -d

deploy_be_development:
  stage: deploy
  image: node:latest
  tags:
  - hva
  script:
  - apt-get update && apt-get install -y curl
  - curl -fsSL https://railway.app/install.sh | sh
  - export RAILWAY_TOKEN=${RAILWAY_BE_DEVELOPMENT_TOKEN}
  - cd backend
  - railway up --service=backend -d

secured paths now on, you can log out from the create project page, not from the overview (couldnt resolve bug). You can get to the public profile overview as a client by clicking on a developer
  backend/src/main/java/com/hva/ewa/team2/backend/Config.java
  backend/src/main/java/com/hva/ewa/team2/backend/rest/user/UserController.java
  frontend/src/components/Scenes/Adminpanel/EmployeeList.vue
  frontend/src/components/Scenes/Project/Participant.vue
  frontend/src/components/Scenes/Project/Scenes/CreateProject.vue
  frontend/src/components/Scenes/Project/Scenes/ProjectLayout.vue
  frontend/src/components/Scenes/Project/Scenes/ProjectList.vue
  frontend/src/components/Scenes/Project/Scenes/ProjectOverview.vue
Due: deploy_fe_production, deploy_be_production, deploy_be_development

Creating a Client funcionallity works
  backend/src/main/java/com/hva/ewa/team2/backend/rest/user/UserController.java
  backend/src/main/resources/application.properties
  frontend/src/Networking/UserRepository.js
  frontend/src/components/Scenes/Adminpanel/AddClient.vue
  frontend/src/main.js
  frontend/src/router/index.js
Due: deploy_fe_production, deploy_be_production, deploy_be_development

Fixed projects totals and lists being incorrect.
  backend/src/main/java/com/hva/ewa/team2/backend/data/project/ProjectRepository.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/project/ProjectInteractor.java
  backend/src/main/java/com/hva/ewa/team2/backend/rest/project/ProjectController.java
Due: deploy_be_production, deploy_be_development

Added admin and client homes, finished participant home, fixed project summaries.
  backend/src/main/java/com/hva/ewa/team2/backend/data/hourregistration/HourRegistrationRepository.java
  backend/src/main/resources/application.properties
  frontend/src/components/Common/NavBar.vue
  frontend/src/components/Scenes/Home/BaseHome.vue
  frontend/src/components/Scenes/Home/HomeProjectListBox.vue
  frontend/src/components/Scenes/Home/layouts/AdminHomeLayout.vue
  frontend/src/components/Scenes/Home/layouts/ClientHomeLayout.vue
  frontend/src/components/Scenes/Home/layouts/HomeLayout.vue
  frontend/src/components/Scenes/Project/HoursRow.vue
Due: deploy_fe_production, deploy_be_production, deploy_be_development

you can log out from project overview page
  frontend/src/components/Scenes/Project/Scenes/ProjectLayout.vue
  frontend/src/components/Scenes/Project/Scenes/ProjectOverview.vue
Due: deploy_fe_production

put specialist on project button only visible for admin, you can log out of almost all pages (still bug in public specialist profile)
  frontend/src/components/Common/ProfilePopup.vue
  frontend/src/components/Scenes/Profile/PersonalInfo.vue
  frontend/src/components/Scenes/Profile/PublicProfile.vue
  frontend/src/components/Scenes/Project/Scenes/CreateProject.vue
  frontend/src/components/Scenes/Project/Scenes/ProjectLayout.vue
  frontend/src/components/Scenes/Project/Scenes/ProjectOverview.vue
Due: deploy_fe_production

Upload avater works
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/user/UserBusinessLogic.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/user/UserInteractor.java
  backend/src/main/java/com/hva/ewa/team2/backend/rest/user/AddClientRequestBody.java
  backend/src/main/java/com/hva/ewa/team2/backend/rest/user/UserController.java
  frontend/src/App.vue
  frontend/src/Networking/AssetsService.js
  frontend/src/Networking/NetworkClient.js
  frontend/src/Networking/UserRepository.js
  frontend/src/components/Common/Asset.vue
  frontend/src/components/Scenes/Adminpanel/AddClient.vue
  frontend/src/components/Scenes/Adminpanel/AdminPanel.vue
  frontend/src/components/Scenes/Adminpanel/ClientList.vue
  frontend/src/components/Scenes/Adminpanel/ClientRow.vue
  frontend/src/router/index.js
Due: deploy_fe_production, deploy_be_production, deploy_be_development

you can now log out from all sites, fixed bug that mailto icon in project overview wasnt clickable
  frontend/src/components/Scenes/Profile/PublicProfile.vue
  frontend/src/components/Scenes/Project/Participant.vue
Due: deploy_fe_production

Fixed 4 bug tickets
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/skill/SkillInteractor.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/user/UserBusinessLogic.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/user/UserInteractor.java
  backend/src/main/java/com/hva/ewa/team2/backend/rest/auth/AuthController.java
  backend/src/main/java/com/hva/ewa/team2/backend/rest/user/UserController.java
  frontend/src/Networking/Authentication/StoredTokenRepository.js
  frontend/src/Networking/User/UserRepository.js
  frontend/src/components/Scenes/Profile/Expertise.vue
  frontend/src/components/Scenes/Profile/Resume.vue
  frontend/src/components/Scenes/Profile/SkillsOverview.vue
Due: deploy_fe_production, deploy_be_production, deploy_be_development

redesigned adding specialists
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/user/UserBusinessLogic.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/user/UserInteractor.java
  backend/src/main/java/com/hva/ewa/team2/backend/rest/user/AddSpecialistRequestBody.java
  backend/src/main/java/com/hva/ewa/team2/backend/rest/user/UserController.java
  backend/src/main/java/com/hva/ewa/team2/backend/security/JWTRequestFilter.java
  backend/src/main/java/com/hva/ewa/team2/backend/security/JWToken.java
  frontend/src/App.vue
  frontend/src/Networking/Authentication/StoredTokenRepository.js
  frontend/src/Networking/NetworkClient.js
  frontend/src/Networking/UserRepository.js
  frontend/src/components/Scenes/Adminpanel/AddClient.vue
  frontend/src/components/Scenes/Adminpanel/AddSpecialist.vue
  frontend/src/components/Scenes/Adminpanel/ClientRow.vue
  frontend/src/components/Scenes/Adminpanel/EmployeeList.vue
  frontend/src/components/Scenes/Adminpanel/EmployeeRow.vue
Due: deploy_fe_production, deploy_be_production, deploy_be_development

Improved UI of Adding clients
  backend/backend/assets/users/avatars/41e5efdc-be87-4860-98e4-854f4f86fec9.jpg
  backend/backend/assets/users/avatars/46803b58-4102-4b96-96b0-4ca86a5a3bdf.jpg
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/user/UserBusinessLogic.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/user/UserInteractor.java
  backend/src/main/java/com/hva/ewa/team2/backend/rest/user/UserController.java
  frontend/package.json
  frontend/src/components/Common/HelpTip.vue
  frontend/src/components/Scenes/Adminpanel/AddClient.vue
  frontend/src/main.js
  frontend/tailwind.config.cjs
Due: deploy_fe_production, deploy_be_production, deploy_be_development

Added validation to add specialist
  frontend/src/components/Scenes/Adminpanel/AddClient.vue
  frontend/src/components/Scenes/Adminpanel/AddSpecialist.vue
Due: deploy_fe_production

Removed images and reset MYSQL password
  backend/backend/assets/users/avatars/41e5efdc-be87-4860-98e4-854f4f86fec9.jpg
  backend/backend/assets/users/avatars/46803b58-4102-4b96-96b0-4ca86a5a3bdf.jpg
  backend/src/main/resources/application.properties
Due: deploy_be_production, deploy_be_development

fixed bug with image after pull dev, now made it an Asset
  frontend/src/components/Scenes/Profile/PublicProfile.vue
Due: deploy_fe_production

Added hour registrations data for client home pages.
  backend/src/main/java/com/hva/ewa/team2/backend/data/hourregistration/HourRegistrationRepository.java
  frontend/src/Services/DateService.js
  frontend/src/components/Scenes/Home/layouts/ClientHomeLayout.vue
  frontend/src/components/Scenes/Project/HoursInfoPopup.vue
  frontend/src/router/index.js
Due: deploy_fe_production, deploy_be_production, deploy_be_development

Fixed merge conflicts.
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/user/UserBusinessLogic.java
Due: deploy_be_production, deploy_be_development

Added skills per user when a skill is selected in filter
  frontend/src/components/Scenes/AddParticipants/AddParticipants.vue
  frontend/src/components/Scenes/AddParticipants/ParticipantCard.vue
Due: deploy_fe_production

Fix/archiving projects
  backend/src/main/java/com/hva/ewa/team2/backend/data/hourregistration/HourRegistrationRepository.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/project/Project.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/user/Specialist.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/user/User.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/project/ProjectInteractor.java
  backend/src/main/java/com/hva/ewa/team2/backend/rest/project/ProjectController.java
  frontend/src/Networking/NetworkClient.js
  frontend/src/components/Common/NavBar.vue
  frontend/src/components/Scenes/Home/HomeProjectListBox.vue
  frontend/src/components/Scenes/Project/HoursRow.vue
  frontend/src/components/Scenes/Project/Scenes/ProjectLayout.vue
  frontend/src/components/Scenes/Project/Scenes/ProjectList.vue
  frontend/src/components/Scenes/Project/Scenes/ProjectOverview.vue
  frontend/src/router/index.js
Due: deploy_fe_production, deploy_be_production, deploy_be_development

fix user and token stay in local/session storage after refresh (at every initializing)
  frontend/src/Networking/Authentication/AuthenticationRepository.js
  frontend/src/Networking/Authentication/StoredTokenRepository.js
  frontend/src/components/Scenes/Authentication/LogIn.vue
Due: deploy_fe_production

Project authorisation
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/project/Project.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/hourregistration/HourRegistrationBusinessLogic.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/hourregistration/HourRegistrationInteractor.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/project/ProjectBusinessLogic.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/project/ProjectInteractor.java
  backend/src/main/java/com/hva/ewa/team2/backend/rest/auth/AuthController.java
  backend/src/main/java/com/hva/ewa/team2/backend/rest/exceptions/UnauthorizedException.java
  backend/src/main/java/com/hva/ewa/team2/backend/rest/hourregistration/HourRegistrationController.java
  backend/src/main/java/com/hva/ewa/team2/backend/rest/project/ProjectController.java
  backend/src/main/java/com/hva/ewa/team2/backend/security/JWToken.java
  frontend/src/App.vue
  frontend/src/Networking/Authentication/StoredTokenRepository.js
  frontend/src/Networking/HourRegistration/HourRegistrationRepository.js
  frontend/src/Networking/Project/ProjectRepository.js
  frontend/src/Networking/User/SkillsRepository.js
  frontend/src/components/Scenes/Home/HomeProjectListBox.vue
  frontend/src/components/Scenes/Home/layouts/ClientHomeLayout.vue
  frontend/src/components/Scenes/Home/layouts/SpecialistHomeLayout.vue
  frontend/src/components/Scenes/Profile/Expertise.vue
  frontend/src/components/Scenes/Profile/SkillsGroup.vue
  frontend/src/components/Scenes/Profile/SkillsOverview.vue
  frontend/src/components/Scenes/Project/ClientSelect.vue
  frontend/src/components/Scenes/Project/HoursInfoPopup.vue
  frontend/src/components/Scenes/Project/HoursRow.vue
  frontend/src/components/Scenes/Project/Modals/ArchiveProjectModal.vue
  frontend/src/components/Scenes/Project/Modals/TransferOwnershipModal.vue
  frontend/src/components/Scenes/Project/ProjectList.vue
  frontend/src/components/Scenes/Project/Scenes/CreateProject.vue
  frontend/src/components/Scenes/Project/Scenes/ProjectLayout.vue
  frontend/src/components/Scenes/Project/Scenes/ProjectList.vue
  frontend/src/components/Scenes/Project/Scenes/ProjectOverview.vue
Due: deploy_fe_production, deploy_be_production, deploy_be_development

Progress
  backend/backend/assets/users/avatars/4.png
  frontend/src/Networking/User/SkillsRepository.js
  frontend/src/Networking/User/UserRepository.js
  frontend/src/Networking/UserRepository.js
  frontend/src/components/Scenes/Profile/PersonalInfo.vue
  frontend/src/components/Scenes/Profile/Resume.vue
Due: deploy_fe_production, deploy_be_production, deploy_be_development

Fixed updating user skills
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/skill/SkillBusinessLogic.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/skill/SkillInteractor.java
  backend/src/main/java/com/hva/ewa/team2/backend/rest/skill/SkillController.java
Due: deploy_be_production, deploy_be_development

added crud methods to userRepo. Made public profile page make use of network client (+ changed availability view)
  frontend/src/Networking/UserRepository.js
  frontend/src/components/Scenes/Profile/PublicProfile.vue
Due: deploy_fe_production

fixed filer option on AddParticipants page
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/user/UserBusinessLogic.java
  frontend/src/Networking/Project/ProjectRepository.js
  frontend/src/Networking/UserRepository.js
  frontend/src/components/Scenes/AddParticipants/AddParticipants.vue
  frontend/src/components/Scenes/AddParticipants/ParticipantCard.vue
  frontend/src/components/Scenes/AddParticipants/ProjectParticipant.vue
Due: deploy_fe_production, deploy_be_production, deploy_be_development

Fixed profile bugs
  backend/backend/assets/projects/5.png
  backend/backend/assets/users/avatars/3.avif
  backend/backend/assets/users/avatars/3.png
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/skill/SkillInteractor.java
  frontend/src/components/Scenes/Profile/Profile.vue
Due: deploy_fe_production, deploy_be_production, deploy_be_development

made projects show/fetch by selected specialist id (needed to make an endpoint). Fix logout bugs.
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/project/ProjectBusinessLogic.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/project/ProjectInteractor.java
  backend/src/main/java/com/hva/ewa/team2/backend/rest/project/ProjectController.java
  frontend/src/Networking/Project/ProjectRepository.js
  frontend/src/components/Common/NavBar.vue
  frontend/src/components/Common/ProfilePopup.vue
  frontend/src/components/Scenes/Authentication/LogIn.vue
  frontend/src/components/Scenes/Profile/Profile.vue
  frontend/src/components/Scenes/Profile/PublicProfile.vue
  frontend/src/components/Scenes/Project/Scenes/ProjectLayout.vue
  frontend/src/components/Scenes/Project/Scenes/ProjectList.vue
  frontend/src/components/Scenes/Project/Scenes/ProjectOverview.vue
Due: deploy_fe_production, deploy_be_production, deploy_be_development

start search option for finding participants
  frontend/src/components/Scenes/AddParticipants/AddParticipants.vue
Due: deploy_fe_production

Made public profile page work with network client
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/project/ProjectBusinessLogic.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/project/ProjectInteractor.java
  backend/src/main/java/com/hva/ewa/team2/backend/rest/project/ProjectController.java
  frontend/src/Networking/Project/ProjectRepository.js
  frontend/src/Networking/UserRepository.js
  frontend/src/components/Common/NavBar.vue
  frontend/src/components/Common/ProfilePopup.vue
  frontend/src/components/Scenes/Authentication/LogIn.vue
  frontend/src/components/Scenes/Profile/Profile.vue
  frontend/src/components/Scenes/Profile/PublicProfile.vue
  frontend/src/components/Scenes/Project/Scenes/ProjectLayout.vue
  frontend/src/components/Scenes/Project/Scenes/ProjectList.vue
  frontend/src/components/Scenes/Project/Scenes/ProjectOverview.vue
Due: deploy_fe_production, deploy_be_production, deploy_be_development

Merge project participants into development
  backend/src/main/java/com/hva/ewa/team2/backend/BackendApplication.java
  backend/src/main/java/com/hva/ewa/team2/backend/data/user/UserRepository.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/project/ProjectInteractor.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/user/UserBusinessLogic.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/user/UserInteractor.java
  backend/src/main/java/com/hva/ewa/team2/backend/rest/user/UserController.java
  backend/src/main/java/com/hva/ewa/team2/backend/rest/user/json/JsonSkills.java
  frontend/src/App.vue
  frontend/src/Networking/Project/ProjectRepository.js
  frontend/src/Networking/UserRepository.js
  frontend/src/components/Scenes/AddParticipants/AddParticipants.vue
  frontend/src/components/Scenes/AddParticipants/ParticipantCard.vue
  frontend/src/components/Scenes/AddParticipants/ProjectParticipant.vue
Due: deploy_fe_production, deploy_be_production, deploy_be_development

Project participants
  frontend/src/components/Common/Asset.vue
  frontend/src/components/Scenes/Project/Scenes/CreateProject.vue
Due: deploy_fe_production

UI fixes
  frontend/src/components/Scenes/Adminpanel/AddSpecialist.vue
  frontend/src/components/Scenes/Adminpanel/ClientRow.vue
Due: deploy_fe_production

Bug fixes and showing HR status
  backend/src/main/java/com/hva/ewa/team2/backend/data/hourregistration/HourRegistrationRepository.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/user/User.java
  frontend/src/Networking/HourRegistration/HourRegistrationRepository.js
  frontend/src/Networking/HourRegistration/InMemoryHourRegistrationRepository.js
  frontend/src/Networking/NetworkClient.js
  frontend/src/components/Scenes/SpecialistHourRegistration/SpecialistHourRegistrationOverview.vue
  frontend/src/components/Scenes/SpecialistHourRegistration/elements/HourRegistrationRow.vue
  frontend/src/components/Scenes/SpecialistHourRegistration/elements/NewActivityPopup.vue
  frontend/src/components/models/HourRegistration.js
  frontend/src/components/models/HourRegistration/HourRegistration.js
  frontend/src/components/models/HourRegistration/HourRegistrationStatus.js
  frontend/src/main.js
Due: deploy_fe_production, deploy_be_production, deploy_be_development

Bugfixes in frontend
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/availability/AvailabilityIteractor.java
  backend/src/main/java/com/hva/ewa/team2/backend/rest/availability/AvailabilityController.java
  frontend/src/App.vue
  frontend/src/Networking/Availibility/AvailabilityRepository.js
  frontend/src/Services/DateService.js
  frontend/src/components/Scenes/SpecialistAvailibility/SpecialistAvailibilityOverview.vue
  frontend/src/components/Scenes/SpecialistAvailibility/elements/AvailabilitySlot.vue
  frontend/src/components/Scenes/SpecialistAvailibility/elements/NewAvailabilityPopup.vue
Due: deploy_fe_production, deploy_be_production, deploy_be_development

Added more backend logic for expertise
  backend/assets/projects/5.png
  backend/backend/assets/projects/5.png
  backend/backend/assets/users/avatars/3.png
  backend/backend/assets/users/avatars/4.png
  backend/backend/assets/users/avatars/5.png
  backend/backend/assets/users/avatars/6.png
  backend/backend/assets/users/avatars/admin1.jpeg
  backend/backend/assets/users/avatars/admin2.jpeg
  backend/backend/assets/users/avatars/mediamarktlogo.png
  backend/backend/assets/users/avatars/specialist10.jpeg
  backend/backend/assets/users/avatars/specialist2.jpeg
  backend/backend/assets/users/avatars/specialist3.jpeg
  backend/backend/assets/users/avatars/specialist4.jpeg
  backend/backend/assets/users/avatars/specialist5.jpeg
  backend/backend/assets/users/avatars/specialist6.jpeg
  backend/backend/assets/users/avatars/specialist7.jpeg
  backend/backend/assets/users/avatars/specialist8.jpeg
  backend/backend/assets/users/avatars/specialist9.jpeg
  backend/backend/assets/users/banners/mediamarktbanner.jpg
  backend/backend/assets/users/resumes/sample-resume.pdf
  backend/src/main/java/com/hva/ewa/team2/backend/BackendApplication.java
Due: deploy_be_production, deploy_be_development

fixed something
  backend/assets/users/avatars/5.png
  backend/assets/users/avatars/admin1.jpeg
  backend/assets/users/avatars/admin2.jpeg
  backend/assets/users/avatars/mediamarktlogo.png
  backend/assets/users/avatars/specialist10.jpeg
  backend/assets/users/avatars/specialist2.jpeg
  backend/assets/users/avatars/specialist3.jpeg
  backend/assets/users/avatars/specialist4.jpeg
  backend/assets/users/avatars/specialist5.jpeg
  backend/assets/users/avatars/specialist6.jpeg
  backend/assets/users/avatars/specialist7.jpeg
  backend/assets/users/avatars/specialist8.jpeg
  backend/assets/users/avatars/specialist9.jpeg
  backend/assets/users/banners/mediamarktbanner.jpg
  backend/assets/users/resumes/4.pdf
  backend/assets/users/resumes/sample-resume.pdf
  backend/src/main/java/com/hva/ewa/team2/backend/BackendApplication.java
Due: deploy_be_production, deploy_be_development

bug fixes, made cursor pointer for buttons, deleted not functional buttons, made availability work
  frontend/src/components/Scenes/Authentication/LogIn.vue
  frontend/src/components/Scenes/Profile/PublicProfile.vue
  frontend/src/components/Scenes/Project/Participant.vue
  frontend/src/components/Scenes/Project/SkillListSummary.vue
Due: deploy_fe_production

bug fixes, made cursor pointer for buttons, deleted not functional buttons, made availability work
  frontend/src/components/Scenes/Profile/PublicProfile.vue
Due: deploy_fe_production

Update README.md
  frontend/README.md
Due: deploy_fe_production

Fixed color of error messages in AddParticipantModal
  frontend/src/components/Scenes/AddParticipants/AddParticipantModal.vue
  frontend/src/components/Scenes/AddParticipants/AddParticipants.vue
  frontend/src/components/Scenes/AddParticipants/ParticipantCard.vue
Due: deploy_fe_production

Expanded dummy data, fixed project data and implemented redirects for project and profile
  backend/assets/users/avatars/kpn-logo.png
  backend/assets/users/banners/kp-banner.jpeg
  backend/backend/assets/users/avatars/kpn-logo.png
  backend/backend/assets/users/banners/kp-banner.jpeg
  backend/src/main/java/com/hva/ewa/team2/backend/BackendApplication.java
  backend/src/main/java/com/hva/ewa/team2/backend/data/hourregistration/HourRegistrationRepository.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/availability/Availability.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/hourregistration/HourRegistration.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/project/ProjectParticipant.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/user/Client.java
  backend/src/main/resources/application.properties
  frontend/src/Networking/Authentication/StoredTokenRepository.js
  frontend/src/Networking/HourRegistration/InMemoryHourRegistrationRepository.js
  frontend/src/Networking/NetworkClient.js
  frontend/src/Networking/User/SkillsRepository.js
  frontend/src/Networking/UserRepository.js
  frontend/src/Services/FetchService.js
  frontend/src/components/Scenes/AddParticipants/AddParticipants.vue
  frontend/src/components/Scenes/AddParticipants/ProjectParticipant.vue
  frontend/src/components/Scenes/Adminpanel/ClientRow.vue
  frontend/src/components/Scenes/Home/BaseHome.vue
  frontend/src/components/Scenes/Home/layouts/ClientHomeLayout.vue
  frontend/src/components/Scenes/Home/layouts/SpecialistHomeLayout.vue
  frontend/src/components/Scenes/Profile/PersonalInfo.vue
  frontend/src/components/Scenes/Profile/Profile.vue
  frontend/src/components/Scenes/Profile/SkillsForm.vue
  frontend/src/components/Scenes/Profile/SkillsGroup.vue
  frontend/src/components/Scenes/Project/HoursInfoPopup.vue
  frontend/src/components/Scenes/Project/Participant.vue
  frontend/src/components/Scenes/Project/Scenes/CreateProject.vue
  frontend/src/components/Scenes/Project/Scenes/ProjectLayout.vue
  frontend/src/components/Scenes/SpecialistAvailibility/SpecialistAvailibilityOverview.vue
  frontend/src/components/Scenes/SpecialistAvailibility/elements/NewAvailabilityPopup.vue
  frontend/src/components/Scenes/SpecialistHourRegistration/SpecialistHourRegistrationOverview.vue
  frontend/src/components/models/Availability.js
  frontend/src/components/models/HourRegistration/HourRegistration.js
Due: deploy_fe_production, deploy_be_production, deploy_be_development

Path conditions:
  deploy_fe_production: any of: frontend/**/*
  deploy_be_production: any of: backend/**/*
  deploy_be_development: any of: backend/**/*
