Repository FrankVanDerVelde/florijn: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_fe_production, deploy_be_production, deploy_fe_development, deploy_be_development

.gitlab-ci.yml:

stages:
  - deploy

deploy_fe_production:
  stage: deploy
  image: node:latest
  tags:
    - hva
  only:
    refs:
      - main
    changes:
      - "frontend/**/*"
  script:
    - apt-get update && apt-get install -y curl
    - curl -fsSL https://railway.app/install.sh | sh
    - export RAILWAY_TOKEN=${RAILWAY_FE_PRODUCTION_TOKEN}
    - cd frontend
    - railway up --service=frontend -d

deploy_be_production:
  stage: deploy
  image: node:latest
  tags:
    - hva
  only:
    refs:
      - main
    changes:
      - "backend/**/*"
  script:
    - apt-get update && apt-get install -y curl
    - curl -fsSL https://railway.app/install.sh | sh
    - export RAILWAY_TOKEN=${RAILWAY_BE_PRODUCTION_TOKEN}
    - cd backend
    - railway up --service=backend -d




deploy_fe_development:
  stage: deploy
  image: node:latest
  tags:
    - hva
  only:
    refs:
      - development
    changes:
      - "frontend/**/*"
  script:
    - apt-get update && apt-get install -y curl
    - curl -fsSL https://railway.app/install.sh | sh
    - export RAILWAY_TOKEN=${RAILWAY_FE_DEVELOPMENT_TOKEN}
    - cd frontend
    - railway up --service=frontend -d

deploy_be_development:
  stage: deploy
  image: node:latest
  tags:
    - hva
  only:
    refs:
      - development
    changes:
      - "backend/**/*"
  script:
    - apt-get update && apt-get install -y curl
    - curl -fsSL https://railway.app/install.sh | sh
    - export RAILWAY_TOKEN=${RAILWAY_BE_DEVELOPMENT_TOKEN}
    - cd backend
    - railway up --service=backend -d

Revert "added deployment files"
  .gitlab-ci.yml
  backend/pom.xml
  backend/src/main/java/com/hva/ewa/team2/backend/config.java
  backend/src/main/resources/application.properties
  frontend/.env.development
  frontend/.env.production
  frontend/package.json
  frontend/src/Services/FetchService.js
  frontend/src/Services/user-adaptor.js
  frontend/vite.config.js
Due: deploy_fe_production, deploy_be_production, deploy_fe_development, deploy_be_development

Started implementing the MySQL database into the backend. Finished UserRepo implementation.
  backend/src/main/java/com/hva/ewa/team2/backend/BackendApplication.java
  backend/src/main/java/com/hva/ewa/team2/backend/data/Availability/InMemoryAvailabilityRepository.java
  backend/src/main/java/com/hva/ewa/team2/backend/data/project/InMemoryProjectRepository.java
  backend/src/main/java/com/hva/ewa/team2/backend/data/user/InMemoryUserRepository.java
  backend/src/main/java/com/hva/ewa/team2/backend/data/user/MemoryUserRepository.java
  backend/src/main/java/com/hva/ewa/team2/backend/data/user/UserRepo.java
  backend/src/main/java/com/hva/ewa/team2/backend/data/user/UserRepository.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/skill/Expertise.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/skill/Skill.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/skill/UserExpertise.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/skill/UserSkill.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/user/Address.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/user/Specialist.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/user/User.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/auth/AuthInteractor.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/hourregistration/HourRegistrationInteractor.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/project/ProjectInteractor.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/skill/SkillInteractor.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/user/UserBusinessLogic.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/user/UserInteractor.java
  backend/src/main/java/com/hva/ewa/team2/backend/rest/user/UserController.java
  backend/src/main/resources/application.properties
  frontend/package.json
  frontend/vite.config.js
Due: deploy_fe_production, deploy_be_production, deploy_fe_development, deploy_be_development

Fixed expertise not having an id.
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/skill/Expertise.java
Due: deploy_be_production, deploy_be_development

added deployment files
  backend/pom.xml
  backend/src/main/java/com/hva/ewa/team2/backend/config.java
  backend/src/main/resources/application.properties
  backend/src/test/java/com/hva/ewa/team2/backend/BackendProjectsTest.java
  frontend/.env.production
  frontend/package.json
  frontend/src/Services/user-adaptor.js
  frontend/src/components/Common/ProfilePopup.vue
  frontend/vite.config.js
Due: deploy_fe_production, deploy_be_production, deploy_fe_development, deploy_be_development

changed applications.properties
  backend/src/main/java/com/hva/ewa/team2/backend/config.java
Due: deploy_be_production, deploy_be_development

Update backend/src/main/java/com/hva/ewa/team2/backend/config.java
  backend/src/main/java/com/hva/ewa/team2/backend/config.java
Due: deploy_be_production, deploy_be_development

changed development env file
  frontend/.env.development
Due: deploy_fe_production, deploy_fe_development

changed environment name
  frontend/.env.Development
Due: deploy_fe_production, deploy_fe_development

Changed backend port
  backend/src/main/resources/application.properties
Due: deploy_be_production, deploy_be_development

Renamed environmental file.
  frontend/.env
  frontend/.env.Development
  frontend/.env.development
  frontend/.env.production
Due: deploy_fe_production, deploy_fe_development

changed environment of development
  .gitlab-ci.yml
Due: none

deleted environment of development
  .gitlab-ci.yml
Due: none

Another attempt on fixing the cors mapping
  backend/src/main/java/com/hva/ewa/team2/backend/config.java
Due: deploy_be_production, deploy_be_development

Another attempt (pt2) on fixing the cors mapping
  backend/src/main/java/com/hva/ewa/team2/backend/config.java
Due: deploy_be_production, deploy_be_development

Another attempt (pt3) on fixing the cors mapping
  backend/src/main/java/com/hva/ewa/team2/backend/config.java
Due: deploy_be_production, deploy_be_development

Another attempt (pt4) on fixing the cors mapping
  backend/src/main/java/com/hva/ewa/team2/backend/config.java
Due: deploy_be_production, deploy_be_development

Another attempt (pt5) on fixing the cors mapping
  backend/src/main/java/com/hva/ewa/team2/backend/config.java
Due: deploy_be_production, deploy_be_development

Another attempt (pt6) on fixing the cors mapping
  backend/src/main/java/com/hva/ewa/team2/backend/config.java
Due: deploy_be_production, deploy_be_development

Another attempt (pt7) on fixing the cors mapping
  backend/src/main/java/com/hva/ewa/team2/backend/rest/auth/AuthController.java
Due: deploy_be_production, deploy_be_development

Another attempt (pt8) on fixing the cors mapping, hopefull final
  backend/src/main/java/com/hva/ewa/team2/backend/config.java
  frontend/.env.development
  frontend/src/Services/user-adaptor.js
Due: deploy_fe_production, deploy_be_production, deploy_fe_development, deploy_be_development

Another attempt (pt9) on fixing the cors mapping, hopefull final
  frontend/src/Services/user-adaptor.js
  frontend/src/components/Scenes/Authentication/LogIn.vue
Due: deploy_fe_production, deploy_fe_development

Another attempt (pt9.5) on fixing the cors mapping, hopefull final
  frontend/src/components/Scenes/Authentication/LogIn.vue
Due: deploy_fe_production, deploy_fe_development

fixed deleteAvailability not deleting right availability
  backend/src/main/java/com/hva/ewa/team2/backend/data/Availability/AvailabilityRepository.java
  backend/src/main/java/com/hva/ewa/team2/backend/data/Availability/InMemoryAvailabilityRepository.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/availability/AvailabilityBusinessLogic.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/availability/AvailabilityIteractor.java
  backend/src/main/java/com/hva/ewa/team2/backend/rest/availability/AvailabilityController.java
Due: deploy_be_production, deploy_be_development

Fixed bug when updating Availablility
  frontend/src/components/Scenes/SpecialistAvailibility/elements/NewAvailabilityPopup.vue
Due: deploy_fe_production, deploy_fe_development

made jwt setup backend. Couldn't test because of errors in (jpa) code. When that is fixed, make the jwt method primary and switch secured paths on
  backend/pom.xml
  backend/src/main/java/com/hva/ewa/team2/backend/Config.java
  backend/src/main/java/com/hva/ewa/team2/backend/config.java
  backend/src/main/java/com/hva/ewa/team2/backend/rest/auth/AuthController.java
  backend/src/main/java/com/hva/ewa/team2/backend/security/JWTRequestFilter.java
  backend/src/main/java/com/hva/ewa/team2/backend/security/JWToken.java
  backend/src/main/resources/application.properties
Due: deploy_be_production, deploy_be_development

Added Holiday intergration
  frontend/package.json
  frontend/src/App.vue
  frontend/src/components/Scenes/SpecialistAvailibility/elements/NewAvailabilityPopup.vue
Due: deploy_fe_production, deploy_fe_development

UI Changes in overview and popup
  frontend/src/components/Scenes/SpecialistAvailibility/SpecialistAvailibilityOverview.vue
  frontend/src/components/Scenes/SpecialistAvailibility/elements/NewAvailabilityPopup.vue
  frontend/src/main.js
Due: deploy_fe_production, deploy_fe_development

adding/editing availability only posible for the future
  frontend/src/components/Scenes/SpecialistAvailibility/SpecialistAvailibilityOverview.vue
  frontend/src/components/Scenes/SpecialistAvailibility/elements/NewAvailabilityPopup.vue
Due: deploy_fe_production, deploy_fe_development

Added more database entity models and improved existing ones.
  backend/src/main/java/com/hva/ewa/team2/backend/BackendApplication.java
  backend/src/main/java/com/hva/ewa/team2/backend/data/hourregistration/InMemoryHourRegistrationRepository.java
  backend/src/main/java/com/hva/ewa/team2/backend/data/project/InMemoryProjectRepository.java
  backend/src/main/java/com/hva/ewa/team2/backend/data/project/MemoryProjectRepository.java
  backend/src/main/java/com/hva/ewa/team2/backend/data/project/ProjectRepository.java
  backend/src/main/java/com/hva/ewa/team2/backend/data/user/InMemoryUserRepository.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/project/Project.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/project/ProjectFilter.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/project/ProjectParticipant.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/skill/Expertise.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/skill/Skill.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/skill/SkillGroup.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/skill/UserExpertise.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/skill/UserSkill.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/user/Address.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/user/Specialist.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/user/User.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/hourregistration/HourRegistrationInteractor.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/project/ProjectInteractor.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/skill/SkillBusinessLogic.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/skill/SkillInteractor.java
  backend/src/main/java/com/hva/ewa/team2/backend/rest/project/ProjectController.java
  backend/src/main/java/com/hva/ewa/team2/backend/rest/skill/SkillController.java
  backend/src/main/resources/application.properties
  frontend/src/components/Scenes/Project/Scenes/ProjectLayout.vue
Due: deploy_fe_production, deploy_be_production, deploy_fe_development, deploy_be_development

Fixed bug in copy to next week
  frontend/src/Networking/Availibility/AvailabilityRepository.js
  frontend/src/components/Scenes/SpecialistAvailibility/SpecialistAvailibilityOverview.vue
Due: deploy_fe_production, deploy_fe_development

Changed font to Roboto
  frontend/src/assets/css/input.css
  frontend/src/components/Common/FormInput.vue
  frontend/src/components/Common/NavItem.vue
  frontend/src/components/Scenes/Authentication/ChangePassword.vue
  frontend/src/components/Scenes/Authentication/ForgotPassword.vue
  frontend/src/components/Scenes/Authentication/LogIn.vue
  frontend/src/components/Scenes/Profile/SkillsOverview.vue
Due: deploy_fe_production, deploy_fe_development

changed to ci/cd to vercel
  .gitlab-ci.yml
Due: none

Finished database implementation of users, projects, skills, and expertises.
  backend/src/main/java/com/hva/ewa/team2/backend/BackendApplication.java
  backend/src/main/java/com/hva/ewa/team2/backend/data/Availability/InMemoryAvailabilityRepository.java
  backend/src/main/java/com/hva/ewa/team2/backend/data/hourregistration/HourRegistrationRepository.java
  backend/src/main/java/com/hva/ewa/team2/backend/data/hourregistration/InMemoryHourRegistrationRepository.java
  backend/src/main/java/com/hva/ewa/team2/backend/data/project/InMemoryProjectRepository.java
  backend/src/main/java/com/hva/ewa/team2/backend/data/project/ProjectRepository.java
  backend/src/main/java/com/hva/ewa/team2/backend/data/skill/InMemorySkillRepository.java
  backend/src/main/java/com/hva/ewa/team2/backend/data/skill/MemoryRepository.java
  backend/src/main/java/com/hva/ewa/team2/backend/data/skill/MemorySkillRepository.java
  backend/src/main/java/com/hva/ewa/team2/backend/data/user/InMemoryUserRepository.java
  backend/src/main/java/com/hva/ewa/team2/backend/data/user/UserRepository.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/project/Project.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/project/ProjectParticipant.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/skill/Expertise.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/skill/Skill.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/skill/SkillGroup.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/skill/UserSkill.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/user/Specialist.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/user/User.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/auth/AuthInteractor.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/hourregistration/HourRegistrationInteractor.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/project/ProjectBusinessLogic.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/project/ProjectInteractor.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/skill/SkillInteractor.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/user/UserBusinessLogic.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/user/UserInteractor.java
  backend/src/main/java/com/hva/ewa/team2/backend/rest/project/ProjectController.java
  backend/src/main/resources/application.properties
  frontend/src/components/Scenes/Project/ProjectListDetails.vue
Due: deploy_fe_production, deploy_be_production, deploy_fe_development, deploy_be_development

Renamed skill repository class.
  backend/src/main/java/com/hva/ewa/team2/backend/data/skill/MemorySkillRepository.java
  backend/src/main/java/com/hva/ewa/team2/backend/data/skill/SkillRepository.java
Due: deploy_be_production, deploy_be_development

worked on it some more
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/user/UserInteractor.java
  frontend/src/components/Scenes/Profile/PersonalInfo.vue
  frontend/src/main.js
Due: deploy_fe_production, deploy_be_production, deploy_fe_development, deploy_be_development

Hot fixes for faulted merge conflicts, querying projects, and displaying archived status.
  backend/src/main/java/com/hva/ewa/team2/backend/data/user/InMemoryUserRepository.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/project/ProjectInteractor.java
  frontend/src/Services/FetchService.js
  frontend/src/components/Scenes/Project/ProjectHeader.vue
  frontend/src/components/Scenes/Project/ProjectListDetails.vue
Due: deploy_fe_production, deploy_be_production, deploy_fe_development, deploy_be_development

Fixed role names being incorrect.
  frontend/src/components/Scenes/AddParticipants/AddParticipants.vue
  frontend/src/components/Scenes/Project/ClientSelect.vue
  frontend/src/components/Scenes/Project/Scenes/CreateProject.vue
Due: deploy_fe_production, deploy_fe_development

Forgot some stuff
  backend/assets/users/avatars/6.png
  backend/backend/assets/projects/5.png
  backend/backend/assets/users/avatars/3.png
  backend/backend/assets/users/avatars/5.png
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/user/Specialist.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/models/user/User.java
  backend/src/main/java/com/hva/ewa/team2/backend/domain/usecases/user/UserInteractor.java
  backend/src/main/java/com/hva/ewa/team2/backend/rest/user/json/JsonUserData.java
  frontend/src/components/Scenes/Profile/PersonalInfo.vue
  frontend/src/main.js
  frontend/temp.json
Due: deploy_fe_production, deploy_be_production, deploy_fe_development, deploy_be_development

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Update CI file
  .gitlab-ci.yml
Due: none
